
*{box-sizing: border-box;
margin: 0;
padding: 0;}
a{text-decoration: none;}
body{background-color: #ffe4ff;}

/* 헤더 */
.header{background-color: #ff79b0;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;}
.title{color: #F5F5F5;
        font-size: 30px;
        font-weight: bolder;
}
span{color: #00E5FF;}

/* 메인 상단 주토피아 */
.hero-banner {
  position: relative;
  height: 500px;
}

.hero-banner img {
  object-fit: cover;
}
.hero-caption{position: absolute;
    left: 0px;
    bottom: 0px;}
.hero-banner .hero-caption{
    background-color: #ff79b179;
    color:#ffe4ff;
}
/* 검색창 */
.search-form input{display: block;
			appearance: none;
			border: none;
			outline: none;
			background: none;
            }
.search-form .search-input{background-color: #fff6ff;
    color: #def2f4;
    height: 50px;
    border-radius: 10px;
}
.search-form .search-input::placeholder{color:#6695e0;}
.search-form .submit-btn{background-color: #FF4081;
    color: #def2f4;
    border-radius: 10px;
    width: 250px;
    height: 50px;
   }
.search-form input[type=text]:focus{
        box-shadow: 3px 2px 7px;
        color: #def2f4;
        background-color: pink;
        transition: 0.2s;
    }
.search-form input[type=submit]:hover{
    cursor: pointer;
}
.search-form input[type=submit]:active{
    background-color: #6695e0;
    transition: 0.3s;
}

/* 영화리스트 */
.movie-item{
padding: 20px 10px;
position: relative;
}
.movie-item img{
    object-fit: cover;
    width: 100%;
    height: 230px;
}

.detail{
    background-color: #ff79b0;
    border-radius: 0 0 4px 4px;
}
.detail h3, 
.detail p{
    margin-left: 8px;
}
.detail h3{
    font-size: 18px;
    color: aliceblue;
    font-weight: bolder;
}
.detail p{
    font-size: 12px;
    color: aliceblue;
    color: #d43c6f;
}
.type{
    background-color: #ff79b0;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    font-weight: 600;
}
.year{font-weight: 600;
padding-top: 5px;
margin-bottom: 2px;}
.name{padding-bottom: 10px;}
